﻿.tp-caption.BigBold-SubTitle {
    font-family: "Ubuntu", sans-serif;
}

.contact-mm-menu-toggle {
    padding: 0;
    text-decoration: underline;
    border-radius: 10px;
    background-color: transparent;
    color: #42ACE7;
}

.map-button-goto {
    padding: 2px 10px;
    margin: 0;
}

    .map-button-goto i {
        color: #F7584C;
    }

.footer-small {
    font-size: 0.7em;
}
