﻿<div id="about" class="pages">

    <div class="container-fluid space-y">

        <div class="row">

            <div class="col-md-12 text-center">

                <h1 class="section-header">@ExcibitWeb.Resources.Home.About.Title<span class="underline animated" data-animation="fullWidth"></span></h1>

            </div>
            <!-- / col-md-12 -->

        </div>
        <!-- / row -->

        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <p>@Html.Raw(ExcibitWeb.Resources.Home.About.Text1)</p>
                <p>@Html.Raw(ExcibitWeb.Resources.Home.About.Text2)</p>
                <p>@Html.Raw(ExcibitWeb.Resources.Home.About.Text3)</p>
                
                @*<ul class="progress-wrap">
                    <li>
                        <div class="bar">
                            <h6>Html5</h6>
                            <div class="timer" data-to="80" data-speed="1500"></div>
                            <div class="progress">
                                <div class="progress-bar is-bars" data-duration="2000" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="80">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bar">
                            <h6>Css3</h6>
                            <div class="timer" data-to="90" data-speed="1500"></div>
                            <div class="progress">
                                <div class="progress-bar is-bars" data-duration="2000" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="90">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bar">
                            <h6>java Script</h6>
                            <div class="timer" data-to="60" data-speed="1500"></div>
                            <div class="progress">
                                <div class="progress-bar is-bars" data-duration="2000" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="60">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bar">
                            <h6>PHP</h6>
                            <div class="timer" data-to="70" data-speed="1500"></div>
                            <div class="progress">
                                <div class="progress-bar is-bars" data-duration="2000" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="70">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bar">
                            <h6>Branding</h6>
                            <div class="timer" data-to="90" data-speed="1500"></div>
                            <div class="progress">
                                <div class="progress-bar is-bars" data-duration="2000" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-width="90">

                                </div>
                            </div>
                            <span class="progress bar5 animated" data-animation="stretchRight"></span>
                        </div>
                    </li>
                </ul>*@
                <!-- END of Chart Wrap -->

            </div>
            <!-- / col-sm-5 -->
            <!-- / col-sm-6 -->

        </div>
        <!-- / row -->

    </div>
    <!-- / container -->

    <div class="container-fluid deco-parting">

        <div class="col-md-6">

            <h2 class="deco-header timer" data-to="35" data-speed="2000"></h2>

        </div>
        <!-- / col-md-6 -->

        <div class="col-md-6">
            <h3>
                @ExcibitWeb.Resources.Home.About.ReasonsTo <br /> @ExcibitWeb.Resources.Home.About.WorkWithUs
            </h3>

            <p>@ExcibitWeb.Resources.Home.About.TextReasons</p>

        </div>
        <!-- / col-md-6 -->

    </div>
    <!-- / container-fluid -->

    <div class="container-fluid-flat text-center counter-content">

        <div class="row">

            <div class="counter dark-bg col-md-3 col-sm-6 space-y">
                <i class="pe-7s-server pe-3x animated" data-animation="fadeInUp"></i>
                <div class="timer" data-to="2521" data-speed="2000"></div>
                <div class="label">@ExcibitWeb.Resources.Home.About.ConnectedDBs</div>

            </div>
            <div class="counter dark-bg col-md-3 col-sm-6 space-y">
                <i class="pe-7s-box2 pe-3x animated" data-animation="fadeInUp" data-animation-delay="200"></i>
                <div class="timer" data-to="754" data-speed="2000"></div>
                <div class="label">@ExcibitWeb.Resources.Home.About.CubesCreated</div>

            </div>
            <div class="counter dark-bg col-md-3 col-sm-6 space-y">
                <i class="pe-7s-graph3 pe-3x animated" data-animation="fadeInUp" data-animation-delay="400"></i>
                <div class="timer" data-to="1390" data-speed="2000"></div>
                <div class="label">@ExcibitWeb.Resources.Home.About.ReportsDelivered</div>

            </div>
            <div class="counter dark-bg col-md-3 col-sm-6 space-y">
                <i class="pe-7s-users pe-3x animated" data-animation="fadeInUp" data-animation-delay="600"></i>
                <div class="timer" data-to="812" data-speed="2000"></div>
                <div class="label">@ExcibitWeb.Resources.Home.About.SatisfiedUsers</div>

            </div>

        </div>
        <!-- end row -->

    </div>
    <!--end container-fluid-flat -->

    <div class="highlight-section text-center">

        <div class="container-fluid-flat">

            <div class="row  space-y-t-h">
                <ul class="layout-brand border-b clearfix">
                    <li class="col-xs-6 col-sm-3 animated" data-animation="fadeIn">
                        <img src="~/images/ms-partner-logo.png" alt="microsoft partner">
                    </li>
                    <li class="col-xs-6 col-sm-3 animated" data-animation="fadeIn" data-animation-delay="200">
                        <img src="~/images/sql-server-logo.png" alt="sql server">
                    </li>
                    <li class="col-xs-6 col-sm-3 animated" data-animation="fadeIn" data-animation-delay="400">
                        <img src="~/images/azure-logo.png" alt="azure">
                    </li>
                    <li class="col-xs-6 col-sm-3 animated" data-animation="fadeIn" data-animation-delay="600">
                        <img src="~/images/ms-net-logo.png" alt="">
                    </li>
                </ul>
            </div>
            <!-- / row -->
        </div>
        <!-- / container -->

    </div>
    <!-- / highlight-section -->

</div>
<!-- end about -->