﻿<div id="contact" class="pages">
    <div class="container-fluid space-y-t-h">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-header">@ExcibitWeb.Resources.Home.Contact.TalkToUs <span class="underline animated" data-animation="fullWidth"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>
                    @Html.Raw(ExcibitWeb.Resources.Home.Contact.Text1)
                </p>
                <p>
                    @Html.Raw(ExcibitWeb.Resources.Home.Contact.WeAreIn)
                    <button id="button-goToSpain" class="map-button-goto" title="@Html.Raw(ExcibitWeb.Resources.Home.Contact.goToSpainTooltip)">
                        <i class="fa fa-map-marker"></i> @Html.Raw(ExcibitWeb.Resources.Home.Contact.Spain)
                    </button>
                    @Html.Raw(ExcibitWeb.Resources.Home.Contact.And)
                    <button id="button-goToVzla" class="map-button-goto" title="@Html.Raw(ExcibitWeb.Resources.Home.Contact.goToVzlaTooltip)">
                        <i class="fa fa-map-marker"></i> @Html.Raw(ExcibitWeb.Resources.Home.Contact.Venezuela)
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="row space-y-b-h">
        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="map-wrap">
                @*<div class="gmap_canvas"
                         data-latitude="26.5798529"
                         data-longitude="-35.8311467"
                         data-zoom="4"
                         data-style-num="2"
                         data-marker-location1="Doctor Esquerdo 105, Madrid 28007 Madrid, Spain"
                         data-marker-location2="Caracas, Venezuela"
                         data-marker2-visible="true"
                         data-marker1-content="where the magic happen">
                    </div>*@
                <div id="map"></div>
            </div>
        </div>
    </div>
    <!-- / map-wrap -->
    @*<div class="space-y pattern-bg">

            <div class="container padding-y">

                <div class="row">

                    <div class="col-md-12">

                        <div class="quform-outer">

                            <form class="quform form-overlay" action="" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-inner">

                                    <div class="quform-elements">

                                        <div class="row">

                                            <!-- Begin Text input element -->
                                            <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">

                                                <label for="name">
                                                    @ExcibitWeb.Resources.Home.Contact.Name <span class="quform-required">*</span>
                                                </label>
                                                <div class="quform-input">
                                                    <input id="name" type="text" name="name" />
                                                </div>

                                            </div>
                                            <!-- End Text input element -->
                                            <!-- Begin Text input element -->
                                            <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">

                                                <label for="email">
                                                    @ExcibitWeb.Resources.Home.Contact.EmailAddress <span class="quform-required">*</span>
                                                </label>
                                                <div class="quform-input">
                                                    <input id="email" type="text" name="email" />
                                                </div>

                                            </div>
                                            <!-- End Text input element -->
                                            <!-- Begin Textarea element -->
                                            <div class="quform-overlay quform-element clearfix quform-element-textarea quform-huge col-md-12">

                                                <label for="message">
                                                    @ExcibitWeb.Resources.Home.Contact.Message <span class="quform-required">*</span>
                                                </label>
                                                <div class="quform-input">
                                                    <textarea id="message" name="message" style="height: 130px;"></textarea>
                                                </div>

                                            </div>
                                            <!-- End Textarea element -->
                                            <!-- Begin Submit button -->
                                            <div class="quform-submit-overlay col-md-12 clearfix">
                                                <div class="quform-submit-inner">
                                                    <button type="submit" value="Send" class="btn-main small">
                                                        <span>@ExcibitWeb.Resources.Home.Contact.SubmitForm</span>
                                                    </button>
                                                </div>
                                                <div class="quform-loading-wrap">
                                                    <span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->
                                        </div>
                                        <!-- / row -->

                                    </div>
                                    <!-- / quform-elements -->

                                </div>
                                <!-- / quform-inner" -->

                            </form>
                            <!-- end quform -->

                        </div>
                        <!-- end quform-outer -->

                    </div>
                    <!-- end col-md-12 -->

                </div>
                <!-- end row -->

            </div>
            <!-- end container -->

        </div>*@
    <!-- end parallax-base -->

</div>
<!-- end contact -->
