﻿<footer class="main-footer space-y text-center">
    <h4 class="text-uppercase title-footer">&copy; @DateTime.Now.Year Excibit Solutions</h4>
    <span class="footer-small">@Html.Raw(ExcibitWeb.Resources.Home.Home.AllRightsReserved)</span>
</footer>