﻿@{
    ViewBag.Title = "Home Page";
}

<div id="home" class="pages">
    <!-- REVOLUTION SLIDER START -->
    <div id="rev_slider_104_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect76" style="background-color:#111111;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
        <div id="rev_slider_104_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-309"
                    data-transition="slideoverhorizontal"
                    data-slotamount="default"
                    data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut"
                    data-masterspeed="1000"
                    data-thumb="images/home1-thumb.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-fsmasterspeed="1500"
                    data-fsslotamount="7"
                    data-saveperformance="off"
                    data-title="@ExcibitWeb.Resources.Home.Home.WeAreExcibit"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/home1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" id="slide-309-layer-11"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="['400','400','400','550']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-style_hover="cursor:default;"
                         data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-start="0" data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption BigBold-Title   tp-resizeme rs-parallaxlevel-0" id="slide-309-layer-1"
                         data-x="['left','left','left','left']"
                         data-hoffset="['50','50','30','17']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['110','110','180','160']"
                         data-fontsize="['110','100','70','60']"
                         data-lineheight="['100','90','60','60']"
                         data-width="['none','none','none','400']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="500" data-splitin="none"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive_offset="off" style="z-index: 6; white-space: nowrap;">
                        @ExcibitWeb.Resources.Home.Home.WeAreExcibit
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption BigBold-SubTitle   rs-parallaxlevel-0" id="slide-309-layer-4"
                         data-x="['left','left','left','left']"
                         data-hoffset="['55','55','33','20']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['40','1','74','58']"
                         data-fontsize="['20','20','20','15']"
                         data-lineheight="['24','24','24','20']"
                         data-width="['410','410','410','280']"
                         data-height="['60','100','100','100']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650"
                         data-splitin="none"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">
                        @ExcibitWeb.Resources.Home.Home.TomorrowsDataSolutions
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-309-layer-7"
                         data-x="['left','left','left','left']"
                         data-hoffset="['480','480','30','20']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['50','50','30','20']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
                         data-basealign="slide" data-responsive_offset="off"
                         data-responsive="off" style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        @ExcibitWeb.Resources.Home.Home.ReadMore.ToUpper()
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-309-layer-12"
                         data-x="['left','left','left','left']"
                         data-hoffset="['676','676','226','216']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['50','50','30','20']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650" data-splitin="none" data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 9; white-space: nowrap;padding:15px 20px 15px 20px;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </li>
                <!-- SLIDE  -->

                <li data-index="rs-311" data-transition="slideoverhorizontal"
                    data-slotamount="default"
                    data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut"
                    data-masterspeed="1000"
                    data-thumb="images/home2-thumb.jpg"
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title="@ExcibitWeb.Resources.Home.Home.Slide2Title"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/home2.jpg" alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="10" class="rev-slidebg"
                         data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" id="slide-311-layer-11"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="['400','400','400','550']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-style_hover="cursor:default;"
                         data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:1000;s:1000;"
                         data-start="0"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption BigBold-Title   tp-resizeme rs-parallaxlevel-0" id="slide-311-layer-1"
                         data-x="['left','left','left','left']"
                         data-hoffset="['50','50','30','17']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['110','110','180','160']"
                         data-fontsize="['110','100','70','60']"
                         data-lineheight="['100','90','60','60']"
                         data-width="['none','none','none','400']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="500" data-splitin="none"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive_offset="off" style="z-index: 6; white-space: nowrap;">
                        @ExcibitWeb.Resources.Home.Home.Slide2Title
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption BigBold-SubTitle   rs-parallaxlevel-0" id="slide-311-layer-4"
                         data-x="['left','left','left','left']"
                         data-hoffset="['55','55','33','20']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['40','1','74','58']"
                         data-fontsize="['20','20','20','15']"
                         data-lineheight="['24','24','24','20']"
                         data-width="['410','410','410','280']"
                         data-height="['60','100','100','100']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650"
                         data-splitin="none"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">
                        @ExcibitWeb.Resources.Home.Home.Slide2Subtitle
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-311-layer-7"
                         data-x="['left','left','left','left']"
                         data-hoffset="['480','480','30','20']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['50','50','30','20']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        @ExcibitWeb.Resources.Home.Home.ReadMore.ToUpper()
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-311-layer-12"
                         data-x="['left','left','left','left']"
                         data-hoffset="['676','676','226','216']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['50','50','30','20']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="650"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-basealign="slide"
                         data-responsive_offset="off"
                         data-responsive="off" style="z-index: 9; white-space: nowrap;padding:15px 20px 15px 20px;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </li>
                <!-- SLIDE  -->
                @*<li data-index="rs-310" data-transition="slideoverhorizontal" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="media/video-thumb.jpg" data-rotate="0" data-saveperformance="off" data-title="HTML5 Video" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="media/video-poster.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer"
                             data-forcerewind="on"
                             data-volume="mute"
                             data-videowidth="100%"
                             data-videoheight="100%"
                             data-videomp4="media/draw.mp4"
                             data-videopreload="preload"
                             data-videostartat="00:04"
                             data-videoloop="loop"
                             data-forceCover="1"
                             data-aspectratio="16:9"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true"></div>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0"
                             id="slide-310-layer-11"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="['400','400','400','550']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-style_hover="cursor:default;"
                             data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                             data-transform_out="opacity:0;s:1000;s:1000;"
                             data-start="0"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption BigBold-Title   tp-resizeme rs-parallaxlevel-0"
                             id="slide-310-layer-1"
                             data-x="['left','left','left','left']"
                             data-hoffset="['50','50','30','17']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','160']"
                             data-fontsize="['110','100','70','60']"
                             data-lineheight="['100','90','60','60']"
                             data-width="['none','none','none','400']"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="500"
                             data-splitin="none"
                             data-splitout="none"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             style="z-index: 6; white-space: nowrap;">
                            work with us
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-SubTitle   rs-parallaxlevel-0"
                             id="slide-310-layer-4"
                             data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','58']"
                             data-fontsize="['15','15','15','13']"
                             data-lineheight="['24','24','24','20']"
                             data-width="['410','410','410','280']"
                             data-height="['60','100','100','100']"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="650"
                             data-splitin="none"
                             data-splitout="none"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">
                            You can Download this Premium Slider for Free if you Activate your Copy of Slider Revolution.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0"
                             id="slide-310-layer-7"
                             data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="650"
                             data-splitin="none"
                             data-splitout="none"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            @ExcibitWeb.Resources.Home.Home.ReadMore.ToUpper()
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0"
                             id="slide-310-layer-12"
                             data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="650"
                             data-splitin="none"
                             data-splitout="none"
                             data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 9; white-space: nowrap;padding:15px 20px 15px 20px;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </li>*@

            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->

</div>
<!-- end home -->