﻿<nav id="mm-menu" class="mm-menu">

    <h1 class="mm-menu__title text-uppercase">@ExcibitWeb.Resources.Home.Info.Title</h1>

    <div class="mm-menu__address">
        <h6 class="text-uppercase">@ExcibitWeb.Resources.Home.Info.AboutExcibit</h6>
        <p>@ExcibitWeb.Resources.Home.Info.AboutText</p>
    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">@ExcibitWeb.Resources.Home.Info.Spain</h6>
        <ul class="mm-menu__list">
            <li>Doctor Esquerdo 105</li>
            <li>Madrid, 28007</li>
            <li>+34 914 009 600</li>
        </ul>
    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">@ExcibitWeb.Resources.Home.Info.Venezuela</h6>
        <ul class="mm-menu__list">
            <li>Av. Norte - Edf. Daymar VI.</li>
            <li>Caracas, 1080</li>
            <li>+58 414 257 6553</li>
            <li>+58 414 232 2979</li>
        </ul>
    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">@ExcibitWeb.Resources.Home.Info.ContactInfo</h6>
        <ul class="mm-menu__list">
            <li>excibit@excibit.com</li>
        </ul>
    </div>
    <!-- / mm-menu__address-->
    @*<div class="mm-menu__address">
        <h6 class="text-uppercase">Excibit social</h6>*@

    @*<ul class="mm-menu__social">
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-behance"></i></a>
            </li>
        </ul>*@
    <!-- / mm-menu__social -->
    @*</div>*@
</nav>