﻿@{
}
<div id="services" class="pages">

    <div class="container space-y-t">

        <div class="row">

            <div class="col-md-12 text-center">

                <h1 class="section-header">@ExcibitWeb.Resources.Home.Services.Title <span class="underline animated" data-animation="fullWidth"></span></h1>

            </div>
            <!-- / col-md-12 -->

        </div>
        <!-- / row -->

    </div>
    <!-- / container -->

    <div class="container-fluid space-y-b-h">

        <div class="row">

            <div class="col-md-4 content-box-side animated" data-animation="fadeIn">

                <div class="box-side-details">
                    <div class="box-side__header">
                        <i class="fa fa-group"></i>
                        <h3 class="standard-title text-uppercase">@ExcibitWeb.Resources.Home.Services.Consulting</h3>
                    </div>
                    <p>@ExcibitWeb.Resources.Home.Services.ConsultingText</p>
                </div>
            </div>
            <div class="col-md-4 content-box-side animated" data-animation="fadeIn" data-animation-delay="200">

                <div class="box-side-details">
                    <div class="box-side__header">
                        <i class="fa fa-book"></i>
                        <h3 class="standard-title text-uppercase">@ExcibitWeb.Resources.Home.Services.Training</h3>
                    </div>
                    <p>@ExcibitWeb.Resources.Home.Services.TrainingText</p>
                </div>
            </div>
            <div class="col-md-4 content-box-side animated" data-animation="fadeIn" data-animation-delay="400">

                <div class="box-side-details">
                    <div class="box-side__header">
                        <i class="fa fa-support"></i>
                        <h3 class="standard-title text-uppercase">@ExcibitWeb.Resources.Home.Services.Support</h3>
                    </div>
                    <p>@ExcibitWeb.Resources.Home.Services.SupportText</p>
                </div>
            </div>

        </div>
        <!-- end row -->

    </div>
    <!-- end container -->

    <div class="infograph-container space-y">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="bubble">

                        <h4 class="bubble-center">
                            <span>EXCIBIT</span>
                        </h4>
                        <ul>
                            <li class="animated agile" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.AgileMethodology</span></li>
                            <li class="animated databases" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.Databases</span></li>
                            <li class="animated dataintegration" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.DataIntegration</span></li>
                            <li class="animated dashboards" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.Dashboards</span></li>
                            <li class="animated reporting" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.Reporting</span></li>
                            <li class="animated datawarehouse" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.DataWarehouses</span></li>
                            <li class="animated webdevelopment" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.WebDevelopment</span></li>
                            <li class="animated dataquality" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.DataQuality</span></li>
                            <li class="animated softwareengineer" data-animation="bouncIn"><span>@ExcibitWeb.Resources.Home.Services.SoftwareEngineer</span></li>
                        </ul>

                    </div>
                    <!-- / bubble -->

                </div>
                <!-- / col-md-12 -->

            </div>
            <!-- / row -->

        </div>
        <!-- / container -->

    </div>
    <!-- / infograph-container -->

    @*<section class="test-classic space-y highlight-section">


        <div class="container">

            <div class="row">

                <div class="col-md-8 col-md-offset-2">

                    <ul class="bx-slider" data-bx-delay="1000" data-bx-mode="fade" data-bx-easing="easeInOutQuint" data-bx-auto-play="true" data-bx-control="false" data-bx-auto-hover="true" data-bx-pager="true">

                        <li>

                            <div class="item">

                                <img src="http://placehold.it/150x150" alt="">
                                <p>I think if you do something and it turns out pretty good, then you should go do something else wonderful, not dwell on it for too long. Just figure out what’s next.</p>
                                <h2 class="standard-title">Steve Jobs</h2>
                                <span>seo <i class="separator fa  fa-minus"></i> co founder</span>

                            </div>

                        </li>

                        <li>
                            <div class="item">

                                <img src="http://placehold.it/150x150" alt="">
                                <p>Every day I remind myself that my inner and outer life are based on the labors of other men, living and dead, and that I must exert myself in order to give in the same measure as I have received and am still receiving.</p>
                                <h2 class="standard-title">Albert Einstein</h2>
                                <span>seo <i class="separator fa  fa-minus"></i> co founder</span>
                            </div>

                        </li>
                        <li>
                            <div class="item">

                                <img src="http://placehold.it/150x150" alt="">
                                <p>Genius is one percent inspiration and ninety-nine percent perspiration.</p>
                                <h2 class="standard-title">Thomas A. Edison</h2>
                                <span>seo <i class="separator fa  fa-minus"></i> co founder</span>
                            </div>

                        </li>

                    </ul>
                    <!--end bx slider-->

                </div>
                <!-- end col-md-12 -->

            </div>
            <!-- / row -->

        </div>
        <!-- / container-->

    </section>*@
    <!-- / test-classic-->

</div>
@*end services*@
