﻿<div id="team" class="pages">

    <div class="container space-y-t">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-header">@ExcibitWeb.Resources.Home.Team.Title <span class="underline animated" data-animation="fullWidth"></span></h1>
            </div>
            <!-- / col-md-12 -->
        </div>
    </div>
    <div class="space-y-b">
        <div class="container-fluid-flat mag-popup highlight-section2"
             data-popup-type="inline"
             data-popup-gallery-enable="false"
             data-popup-main-class="mfp-fade-x"
             data-popup-removal-delay="800">

            <div class="row">

                <div class="col-md-2 col-md-offset-1 col-sm-6">

                    <a href="#team1" class="team-block mag-lightbox">
                        <img src="~/images/team/JP.png" alt="" />
                        <div class="team-block__details">
                            <h3>Juan Pablo</h3>
                            <p>@ExcibitWeb.Resources.Home.Team.RolCeo  <i class="separator fa  fa-minus"></i> @ExcibitWeb.Resources.Home.Team.RolCoFounder @ExcibitWeb.Resources.Home.Team.Spain</p>

                            <div class="team-block__icon">
                                @ExcibitWeb.Resources.Home.Team.ReadMore
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </a>

                    <div id="team1" class="team-details mfp-hide">
                        <h3 class="standard-title">Juan Pablo Escorihuela</h3>
                        <p>@Html.Raw(@ExcibitWeb.Resources.Home.Team.CvJuanPablo)</p>
                        <ul class="team-details__social-icons clearfix">
                            <li>
                                <a href="https://www.linkedin.com/in/juan-pablo-escorihuela-gonzalez-19b90914/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-md-2 col-sm-6">

                    <a href="#team2" class="team-block mag-lightbox">

                        <img src="~/images/team/ML.png" alt="" />

                        <div class="team-block__details">

                            <h3>Mario</h3>
                            <p>@ExcibitWeb.Resources.Home.Team.RolCto <i class="separator fa  fa-minus"></i> @ExcibitWeb.Resources.Home.Team.RolCoFounder @ExcibitWeb.Resources.Home.Team.Spain</p>

                            <div class="team-block__icon">
                                @ExcibitWeb.Resources.Home.Team.ReadMore
                                <i class="fa fa-plus"></i>
                            </div>

                        </div>

                    </a>
                    <!-- / team-band-creative -->
                    <div id="team2" class="team-details mfp-hide">
                        <h3 class="standard-title">Mario Castillejo</h3>
                        <p>@Html.Raw(@ExcibitWeb.Resources.Home.Team.CvMario)</p>
                        <ul class="team-details__social-icons clearfix">
                            <li>
                                <a href="https://www.linkedin.com/in/mario-castillejo-55a69328/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-md-2 col-sm-6">


                    <a href="#team3" class="team-block mag-lightbox">

                        <img src="~/images/team/DA.png" alt="" />

                        <div class="team-block__details">

                            <h3>Danielle</h3>
                            <p>@ExcibitWeb.Resources.Home.Team.RolMarketing</p>

                            <div class="team-block__icon">
                                @ExcibitWeb.Resources.Home.Team.ReadMore
                                <i class="fa fa-plus"></i>
                            </div>

                        </div>

                    </a>
                    <!-- / team-band-creative -->
                    <div id="team3" class="team-details mfp-hide">
                        <h3 class="standard-title">Danielle Salazar</h3>
                        <p>@Html.Raw(@ExcibitWeb.Resources.Home.Team.CvDanielle)</p>
                        <ul class="team-details__social-icons clearfix">
                            <li>
                                <a href="https://www.linkedin.com/in/danielle-salazar-clavijo-3b33b233" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-md-2 col-sm-6">
                    <a href="#team4" class="team-block mag-lightbox">
                        <img src="~/images/team/CM.png" alt="" />
                        <div class="team-block__details">
                            <h3>Carlos Mauricio</h3>
                            <p>@ExcibitWeb.Resources.Home.Team.RolCto <i class="separator fa  fa-minus"></i> @ExcibitWeb.Resources.Home.Team.RolCoFounder</p>
                            <div class="team-block__icon">
                                @ExcibitWeb.Resources.Home.Team.ReadMore
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </a>
                    <!-- / team-band-creative -->
                    <div id="team4" class="team-details mfp-hide">
                        <h3 class="standard-title">Carlos Mauricio Parra</h3>
                        <p>@Html.Raw(ExcibitWeb.Resources.Home.Team.CvMauricio)</p>
                        <ul class="team-details__social-icons clearfix">
                            <li>
                                <a href="https://www.linkedin.com/in/carlosmauricioparra/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6">

                    <a href="#team5" class="team-block mag-lightbox">

                        <img src="~/images/team/PD.png" alt="" />

                        <div class="team-block__details">

                            <h3>Pedro</h3>
                            <p>@ExcibitWeb.Resources.Home.Team.RolCeo <i class="separator fa  fa-minus"></i> @ExcibitWeb.Resources.Home.Team.RolCoFounder</p>

                            <div class="team-block__icon">
                                @ExcibitWeb.Resources.Home.Team.ReadMore
                                <i class="fa fa-plus"></i>
                            </div>

                        </div>

                    </a>
                    <!-- / team-band-creative -->
                    <div id="team5" class="team-details mfp-hide">
                        <h3 class="standard-title">Pedro Dezerega</h3>
                        <p>@Html.Raw(@ExcibitWeb.Resources.Home.Team.CvPedro)</p>
                        <ul class="team-details__social-icons clearfix">
                            <li>
                                <a href="https://www.linkedin.com/in/pedro-dezerega-7a294818/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / col-md-6 -->

            </div>
            <!-- / row -->

        </div>
    </div>
</div>
<!-- end team -->