﻿@using ExcibitWeb.Utilities
<!DOCTYPE html>
<html lang="@CultureHelper.CurrentNavigationLanguage">
<head>
    <meta charset="UTF-8">
    <title> Excibit </title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/pe-icon-7.css" rel="stylesheet">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/animsition.css" rel="stylesheet">

    <link href="~/Content/masterslider/masterslider.css" rel="stylesheet">
    <link href="~/Content/revolution/settings.css" rel="stylesheet" />
    <link href="~/Content/revolution/layers.css" rel="stylesheet">
    <link href="~/Content/revolution/navigation.css" rel="stylesheet">
    <!-- rev slider -->

    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>


</head>

<body data-smooth-scroll="true">

    <div class="animsition-overlay" data-animsition-overlay="true">

        <header>

            <div class="nav-wrap is-fixed is-shrink off-canvas" data-is-fill="true">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-md-12 carna-menu-wrap">

                            <ul class="carna-menu menu-highlight menu-smooth">
                                <li>
                                    <a href="#home" data-scroll class="scrollTo active">@ExcibitWeb.Resources.Home.Menu.Home</a>

                                </li>
                                <li>
                                    <a href="#about" data-scroll class="scrollTo">@ExcibitWeb.Resources.Home.Menu.About</a>

                                </li>
                                <li>
                                    <a href="#services" data-scroll class="scrollTo">@ExcibitWeb.Resources.Home.Menu.Services</a>

                                </li>
                                <li>
                                    <a href="#team" data-scroll class="scrollTo">@ExcibitWeb.Resources.Home.Menu.Team</a>

                                </li>
                                <li>
                                    <a href="#contact" data-scroll class="scrollTo">@ExcibitWeb.Resources.Home.Menu.Contact</a>

                                </li>
                                <li>
                                    <a href='@Url.Action("Index",new { culture = ViewBag.OtherLang})' class="page-outer">@ExcibitWeb.Resources.Home.Menu.Language</a>
                                </li>
                            </ul>
                            <!-- end of menu -->

                        </div>
                        <!-- / col-md-9 -->

                        <div class="col-xs-3 text-right button-wrap">
                            <button class="button-trigger">
                                <span></span>
                            </button>
                        </div>
                        <!-- / col-xs-6 -->

                        <div class="col-xs-6 col-sm-6 col-md-3 brand-band">
                            <div class="brand-wrap clearfix">
                                <a href="#home" class="brand scrollTo">
                                    <img src="~/images/logo-green-64.png" class="logo-white retina-img" alt="">
                                    <img src="~/images/logo-green-64.png" class="logo-dark retina-img" alt="">
                                </a>
                            </div>

                        </div>
                        <!-- / col-xs-6 -->
                        <div class="col-xs-3 mm-button-band ">

                            <button id="mm-menu-toggle" class="mm-menu-toggle">
                                Toggle Menu<span></span>
                            </button>
                        </div>

                        <div class="col-md-12 mobile-wrap" data-one-page="true" data-has-button="true">
                            <ul class="carna-menu-mobile mobile-smooth" data-scroll-header>

                                <li>
                                    <a href="#home" class="active scrollToMini" data-scroll>@ExcibitWeb.Resources.Home.Menu.Home</a>

                                </li>
                                <li>
                                    <a href="#about" data-scroll class="scrollToMini">@ExcibitWeb.Resources.Home.Menu.About</a>

                                </li>
                                <li>
                                    <a href="#services" data-scroll class="scrollToMini">@ExcibitWeb.Resources.Home.Menu.Services</a>

                                </li>
                                <li>
                                    <a href="#team" data-scroll class="scrollToMini">@ExcibitWeb.Resources.Home.Menu.Team</a>

                                </li>
                                <li>
                                    <a href="#contact" data-scroll class="scrollToMini">@ExcibitWeb.Resources.Home.Menu.Contact</a>

                                </li>
                                <li>
                                    <a href='@Url.Action("Index",new { culture = ViewBag.OtherLang})' class="page-outer">@ExcibitWeb.Resources.Home.Menu.Language</a>
                                </li>
                            </ul>

                        </div>
                        <!-- / col-md-12 -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->

            </div>
            <!-- end nav-wrap -->

        </header>
        <!-- end header -->

        <div id="wrapper" class="content-wrapper wrapper">
            @RenderBody()
            @Html.Partial("_footer")
        </div>
        @Html.Partial("_info")
        <!-- /nav -->
        <a href="#" class="back-to-top"><i class="fa fa-long-arrow-up"></i></a>
    </div>

    <script>
        var ExcibitSpain = '@Html.Raw(ExcibitWeb.Resources.Home.Contact.goToSpainText)';
        var ExcibitVzla = '@Html.Raw(ExcibitWeb.Resources.Home.Contact.goToVzlaText)';
    </script>
    <!-- / animsation -->
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery.1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>

    <script src="~/Scripts/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/revolution/jquery.themepunch.revolution.min.js"></script>

    <script src="~/Scripts/jquery.countTo.js"></script>
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.cubeportfolio.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/masterslider.min.js"></script>

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAT_ajgATJDNkEpQluD1G_UhEQOM7Kvbp0"></script>
    <script src="~/Scripts/map-script.min.js"></script>
    <script src="~/Scripts/velocity.min.js"></script>
    <script src="~/Scripts/jquery.animsition.js"></script>
    <script src="~/Scripts/materialmenu.js"></script>

    @*<script src="quform/js/plugins.js"></script>
        <script src="quform/js/scripts.js"></script>*@

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
            (Load Extensions only on Local File Systems !
            The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution/extensions/revolution.extension.parallax.min.js"></script>

    <script src="~/Scripts/retina.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

    @*Google Analytics*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-81188186-2', 'auto');
        ga('send', 'pageview');

        function gaTrack(path, title) {
            var track = { page: path, title: title };

            ga = window.ga || gaInit();

            ga('set', track);
            ga('send', 'pageview');

            //console.log("Tracked");
        };

        $(document).ready(function () {
            $("a").click(function (evt) {
                var path = evt.currentTarget.pathname + evt.currentTarget.hash;
                var title = evt.currentTarget.title || evt.currentTarget.text;
                gaTrack(path, title);
            });
            $("button").click(function (evt) {
                var path = evt.currentTarget.pathname + evt.currentTarget.hash;
                var title = evt.currentTarget.title || evt.currentTarget.text;
                gaTrack(path, title);
            });
        });
    </script>
    @*Google Analytics End*@

</body>

</html>